# node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

# sublime
*.sublime-project

# os
*.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db 
Desktop.ini

# src
/src/*.js
/src/*/*.js
!/src/scripts/lib/*.js
/src/styles/*.css

/server/
