#! package.cson
name: 'madtalk'
description: 'MadTalk'
keywords: ['madtalk', 'chat', 'markdown', 'coffee', 'stylus', 'coffeekup']
version: '0.2.0'
author: 'Wilson Young <yyfearth@gmail.com>'
contributors: [
	name: 'Wilson Young'
	email: 'yyfearth@gmail.com'
,
	name: 'Mason Wan'
	email: 'masonaxcte@gmail.com'
]
scripts:
  start: 'node app.js'
  test: ''
main: 'app.js'
license: ['MIT', 'BSD']
dependencies:
  'socket.io': '>=0.8.7'
  'express': '>=2.5.8'
  'coffeekup': '>=0.3.1'
devDependencies:
  'extra-coffee-script': 'latest'
  'socket.io': '>=0.8.7'
  'stylus': '>=0.19.0'
  'coffeekup': '>=0.3.1'
