
// vars
$bkg-color = #22252a
$font-color = #eee

// mixins
// vendor(prop, args)
//   -webkit-{prop} args
//   -moz-{prop} args
//   {prop} args
vendor-all(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

// @import 'nib' set in compiler instead

transition()
  vendor-all('transition', arguments)
box-shadow()
  vendor-all('box-shadow', arguments)
box-sizing()
  vendor-all('box-sizing', arguments)

// calc-width()
//   width -webkit-calc(arguments)
//   width -moz-calc(arguments)
//   width calc(arguments)

bkg-texture()
  background -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
  background -moz-radial-gradient(black 15%, transparent 16%) 0 0, -moz-radial-gradient(black 15%, transparent 16%) 8px 8px, -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
  background -ms-radial-gradient(black 15%, transparent 16%) 0 0, -ms-radial-gradient(black 15%, transparent 16%) 8px 8px, -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
  background radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
  background-size 16px 16px

no-space()
  padding 0
  margin 0

body
  background $bkg-color
  color $font-color
  font-family 'DejaVu Sans Mono', fixed
  font-size 14pt
  line-height 150%
  no-space()
  bkg-texture()
  //background -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
  background-color $bkg-color

#app
  position fixed
  width 100%
  height 100%
  > *
    height 100%

a
  text-decoration none
  color #888
  &:hover
    text-decoration underline
    color #aaa

#loading, #connect
  background #22252a
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  padding 1em

// scrollbar for webkit only
::-webkit-scrollbar-track-piece
  background-color $bkg-color
  border-radius 0px
::-webkit-scrollbar
  width 10px
  height 10px
::-webkit-scrollbar-thumb
  min-height 50px
  background-color darken($bkg-color, 45%)
  border-radius 5px
  outline 2px solid $bkg-color
  outline-offset -2px
  border 2px solid $bkg-color
::-webkit-scrollbar-thumb:hover
  background-color lighten($bkg-color, 10%)

// imports
@import 'login'
@import 'msglog'
@import 'panel'
@import 'highlight'
