#msglog
  display block
  position absolute
  left 0
  right 0
  top 0
  bottom 10em // default
  padding 0.5em
  background transparent
  overflow auto
  // overflow hidden
  // overflow-y auto
  margin 0
  > li
    display block
    no-space()
    border-radius 0.3em
    background-color lighten($bkg-color, 2%)
    transition(all 0.3s ease-in-out)
    opacity 0.88
    &:nth-child(even)
      background-color lighten($bkg-color, 3%)
    &:hover
      opacity 0.99
      background-color lighten($bkg-color, 10%)
    > .info
      font-size 14px
      line-height 16px
      display inline-block
      text-align center
      vertical-align top
      width 6em
      color darken($font-color, 25%)
      padding 0.3em
      padding-right: 0.5em
      .nick, .ts
        display block
        text-align center
      .nick
        color #cd5
        font-weight bold
        min-height 0.5em
    > .data
      margin 1px
      padding 0.1em 0.5em
      display inline-block
      text-align left
      vertical-align top
      color $font-color
      min-height 2em
      border-left 1px dashed #444
      p
        margin 0.5em 0
      *:first-child
        margin-top 0.3em
      *:last-child
        margin-bottom 0.3em
    // data color
    &.message > .data
      color #fff
    &.system > .data
      color #555
    &.offline > .data
        color #555
        font-style italic
    //.error > .data
    //  color #933
