#panel
  position absolute
  width 100%
  top auto
  bottom 0
  no-space()
  // todo: box shadow
  //max-height 50% // by js
  ul // #status
    color #fff
    background #733
    no-space()
    padding-left 1em
    list-style none
    li
      display inline-block
      margin 0 2em 0 0
  textarea
    display block
    font-size inherit
    border-width 0
    outline none
    clear both
    resize none
    width 100%
    box-sizing border-box
    padding 1em
    min-height 3em // inc padding
    background $bkg-color
    color $font-color

  #users-list
    color inherit
