#panel
  position absolute
  width 100%
  top auto
  bottom 0
  box-sizing(border-box)
  no-space()
  background rgba($bkg-color, 0.8)
  opacity 0.99 // smooth font
  //max-height 50% // by js
  > ul // #status
    color #fff
    no-space()
    padding-left 1em
    list-style none
    box-sizing(border-box)
    box-shadow(0 -0.2em 1em rgba(#0005))
    transition(background-color 0.3s ease-in-out)
    z-index 1001
    background rgba(#7333)
    li
      display inline-block
      margin 0 2em 0 0
      color #888
  &:hover
    > ul
      background rgba(#7339)
    > textarea
      background-color rgba($bkg-color, 0.8)
  > textarea
    display block
    font-size inherit
    font-family monospace
    //font-family Consolas, Monaco, "Courier New", Courier, monospace
    border-width 0
    outline none
    clear both
    resize none
    width 100%
    box-sizing(border-box)
    margin 0
    padding 1em
    min-height 3em // inc padding
    color $font-color
    z-index 1000
    transition(background-color 0.1s linear)
    background-color rgba($bkg-color, 0.5)
    &:focus
      background-color $bkg-color

