#panel
  position fixed
  color #fff
  width 100%
  bottom 0
  background #733
  no-space()
  //max-height 50%
  //overflow hidden
  ul
    no-space()
    margin-left 1em
    list-style none
    li
      display inline-block
      margin 0 2em 0 0
  textarea
    display block
    width 100%
    font-size inherit
    padding 1em 1em 0 1em
    border-width 0
    outline none
    clear both
    resize none
    overflow hidden
    overflow-y auto
    background $bkg-color
    color $font-color

  #users-list
    color inherit
